body {
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  background-image: url(../img/5.jpg);
  background-size: cover;
  font-family: "M+ Type-1 (general-j) Black";
}

header {
  padding: 10px;
  background-image: url(../img/6.png);
  border: 10px ridge brown;
  text-align: center;
  color: black;
  letter-spacing: 1em;
  text-shadow: 2px 2px 2px white;
  font-size: 25px;
}

main {
  padding: 1em;
  letter-spacing: 5px;
  font-size: 20px;
}

.f-container {
  display: flex;
  justify-content: space-evenly;
}
.f-item1 {
  font: 20px/20px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  color: black;
  margin: 1em;
  padding: 0.5em;
}

.f-item2 {
  background-color: blanchedalmond;
  font: 20px/20px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  color: black;
  border: 2px solid #1b2538;
  border-radius: 4px;
  margin: 1em;
  padding: 0.5em;
}

#hide,
#show,
#hide2,
#show2 {
  margin: 1em;
  width: fit-content;
  height: fit-content;
  line-height: 30px;
  border: 1px solid silver;
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  box-shadow: gray 3px 3px;
  cursor: pointer;
  background-color: lightyellow;
}
